<section id="index">
    <div class="caja1">
        <img src="images/buda.jpg" alt="buda">
        <h2 class="bienvenidos">Bienvenidos</h2>
        <p class="bienvenidos">Nuestro espacio encuentra su razón de ser al lograr el bienestar del cuerpo, alma
            y mente a través de diversos tratamientos especialmente diseñados para cada persona, para despertar
            los cinco sentidos, hemos creado un ambiente de relax y tranquilidad, donde el cuidado del cuerpo y
            el descanso son la prioridad.
        </p>
    </div>
</section>

<section id="quienessomos">
    <div class="caja2">
        <img src="images/aceite.jpg" alt="aceite">
        <h2 class="profesionales">Nuestros profesionales</h2>
        <p class="profesionales_p">Somos un grupo de profesionales capacitados que llevan adelante su labor
            cuidadosamente seleccionada y supervisada para garantizar el mejor desempeño, y así lograr el mejor
            resultado. Interesándonos tanto por el cuidado de la estética como así también por cualquier
            requerimiento y/o necesidad de nuestros clientes.
        </p>
    </div>
</section>

<section id="servicios" class="holder">
    <h3>Nuestros Servicios</h3>
    <div class="grid-contenedor">
        <div class="col-1">
            <h4>TRATAMIENTOS FACIALES</h4>
            <ul>
                <li>
                    <h5>Limpieza facial.</h5>
                </li>
                <li>
                    <h5>Exfoliación.</h5>
                </li>
                <li>
                    <h5>Peeling.</h5>
                </li>
                <li>
                    <h5>Mascarilla y fluido de oxígeno.</h5>
                </li>
                <li>
                    <h5>Masaje facial.</h5>
                </li>

            </ul>
        </div>
        <div class="col-2">
            <img src="images/tratam.jpg" alt="tratamiento facial">
        </div>
        <div class="col-3imagen1">
            <img src="images/facial1.jpg" alt="tratamiento facial" height="250">
        </div>
        <div class="col-3imagen2">
            <img src="images/facial4.jpg" alt="tratamiento facial" height="250">
        </div>
    </div>

    <div class="grid-contenedor1">
        <div class="contenido1">
            <img src="images/pies.jpg" alt="pies" height="100%">
        </div>
        <div class="contenido2">
            <img src="images/masaje.jpg" alt="masaje cuello" height="100%">
        </div>
        <div class="contenido3">
            <img src="images/tratamiento1.jpg" alt="masaje piedras" height="100%">
        </div>
        <div class="contenido4">
            <img src="images/manos.jpg" alt="manos" height="100%">
        </div>

        <div class="contenido5">
            <h4>TRATAMIENTOS CORPORALES</h4>
            <ul>
                <li>
                    <h5>Masajes descontracturantes y relajantes.</h5>
                </li>
                <li>
                    <h5>Masajes con elementos.</h5>
                </li>
                <li>
                    <h5>Masajes con piedras calientes.</h5>
                </li>
                <li>
                    <h5>Masajes con Reiki.</h5>
                </li>
                <li>
                    <h5>Masajes cervicales, dorsales, lumbares.</h5>
                </li>
                <li>
                    <h5>Aromoterapia.</h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-contenedor2">
        <div class="contenido6">
            <h4>RELAJACIÓN SAUNA</h4>
            <ul>
                <li>
                    <h5>Sauna seco</h5>
                </li>
                <li>
                    <h5>Sauna húmedo</h5>
                </li>
                <li>
                    <h5>Ducha escocesa</h5>
                </li>
            </ul>
        </div>
        <div class="contenido7">
            <img src="images/sauna.jpg" alt="figura sauna" height="100%">
        </div>
        <div class="contenido8">
            <img src="images/sauna1.jpg" alt="sauna" height="100%">
        </div>
        <div class="contenido9">
            <img src="images/ducha escocesa.jpg" alt="sauna" height="100%">
        </div>
        <div class="contenido10">
            <img src="images/sauna humedo.jpg" alt="sauna" height="100%">
        </div>

    </div>
    <div class="contenedor3">
        <h4>RELAJACIÓN HIDROMASAJE</h4>
        <div class="contenido11">
            <div class="contenido12">
                <P>El hidromasaje rodeará tu cuerpo y reactivará tu organismo.
                </p>
                <br>
                <p> Ayudará al equilibrio y relajación física y mental, estableciendo un espacio de paz, serenidad y
                    bienestar.
                </P>
            </div>
            <img src="images/hidromasaje.jpg" alt="hidromasaje">
        </div>
    </div>

</section>
<section id="tarifas" class="holder">
    <h3>Tarifas</h3>
       <div class="combos">
         {{#each promociones}}
        <div class="combo">
            <h4 class="tarifa">{{combo}}</h4>
            <h5>Incluye:</h5>
            <ul>
               {{servicios}}
            </ul>
            <div class="precio">
                <h6>{{precio}}</h6>
            </div>
        </div>
        {{/each}}
    </div>    
        
        {{!-- <div class="combo">
            <h4>COMBO 2</h4>
            <h5>Incluye:</h5>
            <ul>
                <li>Masajes con elementos</li>
                <li>Sauna seco</li>
                <li>Sauna húmedo</li>
                <li>Ducha escocesa</li>
                <li class="item"></li>
                <li class="item"></li>
            </ul>
            <div class="precio">
                <h6>Precio $</h6>
            </div>
        </div>
        <div class="combo">
            <h4>COMBO 3</h4>
            <h5>Incluye:</h5>
            <ul>
                <li>Masajes con piedras calientes y aromoterapia</li>
                <li>Sauna Seco</li>
                <li>Sauna húmedo</li>
                <li>Ducha escocesa</li>
                <li class="item"></li>
            </ul>
            <div class="precio">
                <h6>Precio $</h6>
            </div>
        </div>
        <div class="combo">
            <h4>COMBO 4</h4>
            <h5>Incluye:</h5>
            <ul>
                <li>Masaje descontracturante 30'</li>
                <li>Sauna seco</li>
                <li>Sauna húmedo</li>
                <li>Ducha escocesa</li>
                <li>Hidromasaje 30'</li>
            </ul>
            <div class="precio">
                <h6>Precio $</h6>
            </div>
        </div>
    </div> --}}

</section>

<section id="contacto" class="holder">
    <h3>Contacto</h3>
    <div class="contacto">
        <div class="consulta">
            <h4>Consultas y Reservas</h4>
            <form action="/" method="post" class="formulario">
                <p>
                    <label for="">Nombre y Apellido</label>
                    <input type="text" id="nom" name="nombre" required />
                </p>
                <p>
                    <label for="" >Email</label>
                    <input id="email" type="email" name="email">
                </p>
                <p>
                    <label for="">Teléfono</label>
                    <input id="tel" type="text" name="tel">
                </p>
                <p>
                    <label for="">Consulta</label>
                    <textarea name="comentarios" id="consulta"></textarea>
                </p>
                <p>
                    <input type="submit" value="Enviar">
                    <p class="mensaje">{{message}}</p>
                </p>

            </form>
        </div>
        <div class="datos">
            <h4>Datos de contacto</h4>
            <ul>
                <li><i class="fa-solid fa-location-dot"></i></i> _________________ n° 1234</li>
                <li><i class="fa-solid fa-envelope"></i> cuerpo&mentespa@gmail.com</li>
                <li><i class="fa-brands fa-whatsapp-square"></i> +54 9 3875236236</li>
                <li><i class="fa-brands fa-facebook"></i> cuerpo&mentespa</li>
                <li><i class="fa-brands fa-instagram-square"></i>cuerpo&mentespa</li>
            </ul>

        </div>
    </div>
</section>
