<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


  <title>Cuerpo & Mente SPA</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@0,500;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/spa.css">
</head>

<body>
  <header class="header">
    <div class="contenedor" class="holder">
      <img src="images/logo.png" alt="logo spa" width="100px">
      <h1> Cuerpo <span class="nombre"> &</span> Mente<span class="nombre"> SPA</span> </h1>
    </div>
    <div>
      <nav>
        <a href="/">INICIO</a>
        <a href="#quienessomos">QUIENES SOMOS</a>
        <a href="#servicios">SERVICIOS</a>
        <a href="#tarifas">TARIFAS</a>
        <a href="#contacto">CONTACTO</a>
      </nav>
     
    </div>
  </header>
    {{{body}}}
  <footer class="final">
    <p>Diseñado por Julieta Pailler- año 2022</p>
  </footer>

<script src="javascripts/custom.js"></script>
</body>

</html>